<%content_for :title, "Tutodu"%>

<div class="row full-width container">
	<div class="large-6 columns"> 
		<div class="signup">
			<span class="signup_tag"><label> Sign Up! </label></span>
			<span class="signup_comment"><label> Forget everything</label></span>
			<%= form_for @user do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name  ,value: @user.name%>
			<span class="error-block">
				<%=printError(:name)%>
			</span>

			<%= f.label :Email%>
			<%= f.text_field :email, value: @user.email%>
			<span class="error-block"><%=printError(:email)%></span>

			<%= f.label :password%>
			<%= f.password_field :password %>
			<span class="error-block"><%=printError(:password)%></span>

			<%= f.label :password_confirmation%>
			<%= f.password_field :password_confirmation %>
			<span class="error-block"><%=printError(:password_confirmation)%></span>

			<%= f.submit :save, value: "Sign Up",class: " medium custom-button expand" %>
			<% end %>
			<div class="horizontal-divider">
			</div>
			<%= link_to "Sign In",new_session_path , class: " medium custom-button expand"%>
		</div>
		<%flash.each do |name,msg|%>
		<div> <%=msg%></div>
		<%end%>

	</div>
	<div class="small-1 columns mid-divider" ></div>
	<div class="large-5 columns">
		<div class="signup">pic</div>
	</div>

</div>