
<%content_for :title, "New Reminder"%>
<div class="row" style="background:grey;">
	<div class="large-12 columns ">
		<%=form_for :todo, as: :post, url: "/users/todos" do |f| %>

		<%= f.label :title%>
		<%= f.text_field :title%>
		<%= f.label :description%>
		<%= f.text_area :description%>
		<%= f.label :to_date%>
		<%= f.text_field :to_date, class: 'dummy'%>
		<%= f.label :to_time%>
		<%= f.text_field :to_time%>
		<%= f.submit :save%>
		<%end%>
	</div>
</div>